/* @import "tailwindcss"; */



/* @import '../../baseColors.css';

.header {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  border: 1px solid var(--navbar-border);

  z-index: 100;

  transition:
    top 0.7s cubic-bezier(.4,1.5,.5,1),
    border-radius 0.7s cubic-bezier(.4,1.5,.5,1),
    width 0.7s cubic-bezier(.4,1.5,.5,1),
    background-color 0.7s cubic-bezier(.4,1.5,.5,1),
    padding 0.7s cubic-bezier(.4,1.5,.5,1);

  .navbar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    
    width: 97vw;
    padding: 2vh 0;

    
    font-size: 1.2rem;
    font-weight: 600;

    
    background: none;

    
    transition:
      top 0.7s cubic-bezier(.4,1.5,.5,1),
      width 0.7s cubic-bezier(.4,1.5,.5,1),
      justify-content 0.7s cubic-bezier(.4,1.5,.5,1),
      padding 0.7s cubic-bezier(.4,1.5,.5,1),
      background-color 0.5s cubic-bezier(.4,1.5,.5,1);

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        -----------------------------
      }
    }

    .center-items {
      display: flex;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.header.transformed {
  
  top: 1%;
  transform: translate(-50%, 0%);

  
  background-color: var(--navbar-bg-scrolled);

  
  transition:
    top 0.7s cubic-bezier(.4,1.5,.5,1),
    opacity 0.7s cubic-bezier(.4,1.5,.5,1),
    border-radius 0.7s cubic-bezier(.4,1.5,.5,1),
    box-shadow 0.7s cubic-bezier(.4,1.5,.5,1),
    width 0.7s cubic-bezier(.4,1.5,.5,1),
    background-color 0.7s cubic-bezier(.4,1.5,.5,1),
    padding 0.7s cubic-bezier(.4,1.5,.5,1);

  .navbar {
    
    width: 87vw;
    padding: 2vh 2vw;

    
    transition:
      top 0.7s cubic-bezier(.4,1.5,.5,1),
      width 0.7s cubic-bezier(.4,1.5,.5,1),
      justify-content 0.7s cubic-bezier(.4,1.5,.5,1),
      padding 0.7s cubic-bezier(.4,1.5,.5,1),
      background-color 0.7s cubic-bezier(.4,1.5,.5,1);
  }
}

@media (max-width: 1000px) {
  .header{
    top: 8%;
  }
}
 */
